@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 33% 15%;

    --card: 0 0% 100%;
    --card-foreground: 215 33% 15%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 215 33% 15%;
 
    --primary: 212 100% 44%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 213 86% 96%;
    --secondary-foreground: 215 33% 15%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 217 22% 47%;
 
    --accent: 216 100% 98%;
    --accent-foreground: 215 33% 15%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 213 50% 88%;
    --input: 214 80% 95%;
    --ring: 215 33% 15%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 215 33% 15%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 215 33% 15%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 215 33% 15%;
 
    --primary: 212 100% 44%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 213 86% 96%;
    --secondary-foreground: 215 33% 15%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 217 22% 47%;
 
    --accent: 216 100% 98%;
    --accent-foreground: 215 33% 15%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 213 50% 88%;
    --input: 214 80% 95%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
